{{ define "main" }}

  {{ if isset .Data "Term" }}
    <h1 class="page-title">{{ humanize .Data.Term }}</h1>
  {{ else }}
    <h1 class="page-title">{{ .Title }}</h1>
  {{ end }}

  {{ .Content }}

  <ul class="posts flat">
    {{ range where .Site.Pages "Section" "blog" }}
    <li class="post">
      <div class="post-header">
        <div class="meta">
          <div class="date">
            <span class="day">{{ dateFormat "02" .Date }}</span>
            <span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
          </div>
        </div>
        <div class="matter">
          <h3 class="title small"><a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a></h3>
          <span class="description">
            {{ .Summary }}
          </span>
        </div>
      </div>
    </li>
    {{ end }}
  </ul>
{{ end }}
