{{ define "main" }}
<div class="post">
	{{ if isset .Params "image" }}
	<div class="post-image">
		<img src="{{ relURL .Params.image }}" {{ if isset .Params "imagetext" }}alt="{{ .Params.imagetext }}"{{ end }}>
	</div>
	{{ end }}
	<div class="post-header">
	{{ if ne .Date.Year 1 }}
		<div class="meta">
			{{ if not .Params.nodate }}
			<div class="date">
				<span class="day">{{ dateFormat "02" .Date }}</span>
				<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
			</div>
			{{ end }}
		</div>
		{{ end }}
		<div class="matter">
			<h1 class="title">{{ .Title }}</h1>
      <div class="author">
      {{ if eq .Site.Params.listAuthor true}}
      {{ if isset .Params "author" }}
        Written by: {{ .Params.author }}
      {{ end }}
      {{ end }}
      </div>
		</div>
	</div>
	<div class="markdown">
		{{ .Content }}
	</div>
	{{ if eq .Site.Params.comments.enabled true }}
	{{ $.Scratch.Set "comments" true }}
	{{ if and (isset .Params "type") (in .Site.Params.comments.disableOnTypes .Params.type) }}
	{{ $.Scratch.Set "comments" false }}
	{{ end }}
	{{ if and (isset .Params "commentable") (eq .Params.commentable false) }}
	{{ $.Scratch.Set "comments" false }}
	{{ else if and (isset .Params "commentable") (eq .Params.commentable true) }}
	{{ $.Scratch.Set "comments" true }}
	{{ end }}
	{{ if eq ($.Scratch.Get "comments") true }}
	{{ partial "comments.html" . }}
	{{ end }}
	{{ end }}
</div>
{{ end }}
