{{ if .Site.Params.footer1 }}
<footer style="line-height: 1.4em">
  {{ with .Site.Params.footer1 }} {{ . | markdownify }} {{ end }}
  {{ if .Site.Params.footer2 }} <div>{{ with .Site.Params.footer2 }} {{ . | markdownify }} {{ end }}</div> {{ end }}
</footer>
{{ end }}

{{ partial "search-index.html" . }}
