<style>
.search-container {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

form {
  color: #eee;
  display: flex;
  border: 1px solid #eee;
  border-radius: 13px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.5;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  outline-style: none;
}
</style>
<header>
	{{ if .Site.Params.Avatar }}
	<div id="avatar">
		<a href="{{ .Site.BaseURL }}">
		  <img src="{{ relURL .Site.Params.Avatar }}" alt="{{ .Site.Title }}">
		</a>
	</div>
	{{ end }}
	<div id="titletext">
		{{- if .IsHome -}}
		<h1 id="title"><a href="/">{{ .Site.Title }}</a></h1>
		{{- else -}}
		<h2 id="title"><a href="/">{{ .Site.Title }}</a></h2>
		{{- end -}}
	</div>
	<div id="title-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p id="subtitle">{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<div id="social">
			<nav>
				<ul>
					{{- range $index, $key := .Site.Params.Social -}}
					{{- if $key.url }}
					<li><a href="{{ relURL $key.url }}"><i title="{{ $key.name }}" class="icons {{ $key.icon }}"></i></a></li>
					{{- else -}}
					<li><a href="{{ $key.cmd }}"><i title="{{ $key.name }}" class="icons {{ $key.icon }}"></i></a></li>
					{{- end -}}
					{{- end -}}
				</ul>
			</nav>
		</div>
	</div>
	{{ if isset .Site.Menus "leftnav" }}
	<div id="mainmenu">
		<nav>
			<ul class="right">
        <li>{{ partial "search-form" . }}</li>
				{{ range .Site.Menus.rightnav }}
				<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
			<ul class="left">
				{{ range .Site.Menus.leftnav }}
				<li><a href="{{ .URL }}">{{ .Name }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</div>
	{{ end }}
</header>
