<script defer>
window.store = {

  {{ range where .Site.Pages "Section" "blog" }}

    "{{ .Permalink }}": {
      "title": "{{ .Title }}",
      "summary": '{{ .Summary }}',
      "author": "{{ .Params.author }}",
      "day": '{{ dateFormat "02" .Date }}',
      "rest": '{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}',
      "content": "{{ .Content | plainify }}",
      "tags": "",
      "categories": "",
      "url": "{{ .Permalink }}"
    },

  {{ end }}

}
</script>

<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
