{{ define "main" -}}
	<div class="markdown">
		{{ .Content }}
	</div>
  <div class="recent-posts">
    <div class="posts">
    {{ $pages := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
    {{ range $paginator.Pages }}
      <div class="post">
        <div class="post-header">
          <div class="meta">
            <div class="date">
              <span class="day">{{ dateFormat "02" .Date }}</span>
              <span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
            </div>
          </div>
          <div class="matter">
            <h3 class="title small"><a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a></h3>
            <span class="description">
              {{ .Summary }}
            </span>
          </div>
        </div>
      </div>
    {{ end }}
    {{ partial "paginator.html" . }}
    </div>
  </div>
{{ end }}
